.avatar {
    width: 150px; /* Ширина изображения */
    height: 150px; /* Высота изображения */
    object-fit: cover; /* Обрезка изображения, чтобы оно заполнило круг */
    border-radius: 50%; /* Создание круга */
}