{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="content-section">
                <form method="POST" enctype="multipart/form-data">  <!-- Добавлено enctype для загрузки файлов -->
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Редактирование профиля</legend>

                        <!-- Поля формы -->
                        <div class="form-group">
                            {{ form.full_name.label }}
                            {{ form.full_name }}  <!-- Отображение поля для полного имени -->
                            {% if form.full_name.errors %}
                                <div class="text-danger">{{ form.full_name.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email }}  <!-- Отображение поля для email -->
                            {% if form.email.errors %}
                                <div class="text-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.avatar.label }}
                            {{ form.avatar }}  <!-- Отображение поля для загрузки аватара -->
                            {% if form.avatar.errors %}
                                <div class="text-danger">{{ form.avatar.errors }}</div>
                            {% endif %}
                        </div>

                    </fieldset>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info">Сохранить изменения</button>
                    </div>
                </form>

                <form method="POST" action="{% url 'polls:delete_profile' %}">  <!-- Форма для удаления профиля -->
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить профиль</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}